robot_hardware:
  - sara_front_left_base_joint
  - sara_front_right_base_joint
  - sara_rear_left_base_joint
  - sara_rear_right_base_joint
  - sara_right_shoulder_roll_joint
  - sara_right_shoulder_pitch_joint
  - sara_right_shoulder_yaw_joint
  - sara_right_elbow_pitch_joint
  - sara_right_elbow_yaw_joint
  - dynamixel_control_p1
  - dynamixel_control_p2
  - sara_robotiq_hardware_interface
  - base_actuator_joint

#--<< WHEELS >>--
sara_front_left_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive0/feedback0
  cmd_topic: dump # drive0/cmd0
  joints:
    - front_left_mecanum_wheel_joint

sara_front_right_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive1/feedback1
  cmd_topic: dump # drive1/cmd1
  joints:
    - front_right_mecanum_wheel_joint

sara_rear_left_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive2/feedback2
  cmd_topic: dump # drive2/cmd2
  joints:
    - rear_left_mecanum_wheel_joint

sara_rear_right_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive3/feedback3
  cmd_topic: dump # drive3/cmd3
  joints:
    - rear_right_mecanum_wheel_joint

#--<< ARM >>--
sara_right_shoulder_roll_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 0
  offset: -1.095618064
  speed_ratio: 1
  complience_level: 2
  complience_threshold: 12
  complience_derivation_factor: 0.03
  complience_loss_factor: 0.75
  complience_resistance: 0.2
  joints:
    - right_shoulder_roll_joint

sara_right_shoulder_pitch_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 1
  offset: 3.088521263
  speed_ratio: 1
  complience_level: 2
  complience_threshold: 12
  complience_derivation_factor: 0.03
  complience_loss_factor: 0.75
  complience_resistance: 0.2
  joints:
    - right_shoulder_pitch_joint

sara_right_shoulder_yaw_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 2
  offset: 1.360509039
  speed_ratio: 1
  complience_level: 2
  complience_threshold: 3
  complience_derivation_factor: 0.02
  complience_loss_factor: 0.75
  complience_resistance: 0.1
  joints:
    - right_shoulder_yaw_joint

sara_right_elbow_pitch_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 3
  offset: 2.972071485
  speed_ratio: 2
  complience_level: 2
  complience_threshold: 3
  complience_derivation_factor: 0.02
  complience_loss_factor: 0.9
  complience_resistance: 0.1
  joints:
    - right_elbow_pitch_joint

sara_right_elbow_yaw_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 4
  offset: -1.561295116
  speed_ratio: 4
  complience_level: 2
  complience_threshold: 2
  complience_derivation_factor: 0.01
  complience_loss_factor: 0.96
  complience_resistance: 0.05
  joints:
    - right_elbow_yaw_joint

dynamixel_control_p2:
  type: dynamixel/hardware_interface_p2
  serial_interface: /dev/SARA/motors/dynamixel
  loop_frequency: 50
  cycle_time_error_threshold: 0.1
  baudrate: 57600 # in bauds
  read_timeout: 0.05 # in seconds
  scan_timeout: 0.05 # in seconds
  # default mode
  default_command_interface: velocity
  # Configuration of the servos
  servos:
    right_wrist_pitch_joint:
      # hardware ID of the actuator
      id: 1
      # offset to be added, in radians, to the position of an actuator
      offset: 3.141592654 # in rad
      command_interface: velocity
    right_wrist_roll_joint:
      # hardware ID of the actuator
      id: 2
      # offset to be added, in radians, to the position of an actuator
      offset: 3.141592654 # in rad
      command_interface: velocity


#<< GRIPPER >>
sara_robotiq_hardware_interface:
  type: wm_robotiq_hardware_interface/WMRobotiqHardwareInterface
  joints:
    - right_finger_joint


#--<< HEAD >>--
dynamixel_control_p1:
  type: dynamixel/hardware_interface_p1
  serial_interface: /dev/SARA/motors/dynamixel
  loop_frequency: 50
  cycle_time_error_threshold: 0.1
  baudrate: 57600 # in bauds
  read_timeout: 0.05 # in seconds
  scan_timeout: 0.05 # in seconds
  # default mode
  default_command_interface: velocity
  # Configuration of the servos
  servos:
    head_yaw_joint:
      # hardware ID of the actuator
      id: 3
      # offset to be added, in radians, to the position of an actuator
      offset: 3.141592654 # in rad
      command_interface: velocity
    head_pitch_joint:
      # hardware ID of the actuator
      id: 4
      # offset to be added, in radians, to the position of an actuator
      offset: 3.141592654 # in rad
      command_interface: velocity

#--<< COLUMN >>--
base_actuator_joint:
 type: wm_lifting_column_hardware_interface/WMLiftingColumnHardwareInterface
 joints:
  - base_actuator_joint
 cmd_max: 255
 speed_max_up: 0.0279503106
 speed_min_up: 0.0093243243
 speed_max_down: 0.02958988
 speed_min_down: 0.010952381
 max_height: 0.69
 resolution: 2387
 cmd_topic: "column/cmd"
 position_topic: "column/position"
