robot_hardware:
  - sara_front_left_base_motor
  - sara_front_right_base_motor
  - sara_rear_left_base_motor
  - sara_rear_right_base_motor
  - sara_right_shoulder_roll_motor
  - sara_right_shoulder_pitch_motor
  - sara_right_shoulder_yaw_motor
  - sara_right_elbow_pitch_motor
  - sara_right_elbow_yaw_motor
#  - sara_head_dynamixel
#  - sara_arm_dynamixel
#  - sara_robotiq_hardware_interface

sara_front_left_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - front_left_mecanum_wheel_joint

sara_front_right_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - front_right_mecanum_wheel_joint

sara_rear_left_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - rear_left_mecanum_wheel_joint

sara_rear_right_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - rear_left_mecanum_wheel_joint

sara_right_shoulder_roll_motor:
  type: wm_WMKinovaHardwareInteface/WMKinovaHardwareInteface
  joints:
    - right_shoulder_roll_joint
  Index: 0

sara_right_shoulder_pitch_motor:
  type: wm_WMKinovaHardwareInteface/WMKinovaHardwareInteface
  joints:
    - right_shoulder_pitch_joint
  Index: 1

sara_right_shoulder_yaw_motor:
  type: wm_WMKinovaHardwareInteface/WMKinovaHardwareInteface
  joints:
    - right_shoulder_yaw_joint
  Index: 2

sara_right_elbow_pitch_motor:
  type: wm_WMKinovaHardwareInteface/WMKinovaHardwareInteface
  joints:
    - right_elbow_pitch_joint
  Index: 3

sara_right_elbow_yaw_motor:
  type: wm_WMKinovaHardwareInteface/WMKinovaHardwareInteface
  joints:
    - right_elbow_yaw_joint
  Index: 4

#sara_head_dynamixel:
#  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInteface
#  joints:
#    - head_pitch_joint
#    - head_yaw_joint
#
#sara_arm_dynamixel:
#  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInteface
#  joints:
#    - right_wrist_pitch_joint
#    - right_wrist_roll_joint
#
#sara_robotiq_hardware_interface:
#  type: wm_robotiq_hardware_interface/WMRobotiqHardwareInteface
#  joints:
#    - right_robotiq_85_left_knuckle_joint
