robot_hardware:
  - sara_fl_base_motor
  - sara_fr_base_motor
  - sara_rl_base_motor
  - sara_rr_base_motor
  - sara_torso_arm_joint
  - sara_arm_shoulder_joint
  - sara_arm_rot_elbow_joint
  - sara_arm_elbow_joint
  - sara_arm_rot_wrist_joint
#  - sara_head_dynamixel
#  - sara_arm_dynamixel
#  - sara_robotiq_hardware_interface

sara_fl_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - front_left_mecanum_wheel_joint

sara_fr_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - front_right_mecanum_wheel_joint

sara_rl_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - rear_left_mecanum_wheel_joint

sara_rr_base_motor:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInteface
  joints:
    - rear_left_mecanum_wheel_joint

sara_torso_arm_joint:
  type: wm_kinova_hardware_interface/kinova_hardware_interface
  Name: torso_arm_joint
  Index: 0

sara_arm_shoulder_joint:
  type: wm_kinova_hardware_interface/kinova_hardware_interface
  Name: arm_shoulder_joint
  Index: 1

sara_arm_rot_elbow_joint:
  type: wm_kinova_hardware_interface/kinova_hardware_interface
  Name: arm_rot_elbow_joint
  Index: 2

sara_arm_elbow_joint:
  type: wm_kinova_hardware_interface/kinova_hardware_interface
  Name: arm_elbow_joint
  Index: 3

sara_arm_rot_wrist_joint:
  type: wm_kinova_hardware_interface/kinova_hardware_interface
  Name: arm_rot_wrist_joint
  Index: 4


#sara_head_dynamixel:
#  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInteface
#  joints:
#    - head_pitch_joint
#    - head_yaw_joint
#
#sara_arm_dynamixel:
#  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInteface
#  joints:
#    - right_wrist_pitch_joint
#    - right_wrist_roll_joint
#
#sara_robotiq_hardware_interface:
#  type: wm_robotiq_hardware_interface/WMRobotiqHardwareInteface
#  joints:
#    - right_robotiq_85_left_knuckle_joint
