robot_hardware:
  - sara_front_left_base_joint
  - sara_front_right_base_joint
  - sara_rear_left_base_joint
  - sara_rear_right_base_joint
  - sara_right_shoulder_roll_joint
  - sara_right_shoulder_pitch_joint
  - sara_right_shoulder_yaw_joint
  - sara_right_elbow_pitch_joint
  - sara_right_elbow_yaw_joint
  - sara_right_wrist_pitch_joint
  - sara_right_wrist_roll_joint
  - sara_head_pitch_dynamixel
  - sara_head_yaw_dynamixel
  - sara_robotiq_hardware_interface

#--<< WHEELS >>--
sara_front_left_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive0/feedback0
  cmd_topic: dump # drive0/cmd0
  joints:
    - front_left_mecanum_wheel_joint

sara_front_right_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive1/feedback1
  cmd_topic: dump # drive1/cmd1
  joints:
    - front_right_mecanum_wheel_joint

sara_rear_left_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive2/feedback2
  cmd_topic: dump # drive2/cmd2
  joints:
    - rear_left_mecanum_wheel_joint

sara_rear_right_base_joint:
  type: wm_roboteq_hardware_interface/WMRoboteqHardwareInterface
  feedback_topic: drive3/feedback3
  cmd_topic: dump # drive3/cmd3
  joints:
    - rear_right_mecanum_wheel_joint

#--<< ARM >>--
sara_right_shoulder_roll_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 0
  offset: -1.095618064
  joints:
    - right_shoulder_roll_joint

sara_right_shoulder_pitch_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 1
  offset: 3.088521263
  joints:
    - right_shoulder_pitch_joint

sara_right_shoulder_yaw_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 2
  offset: 1.360509039
  joints:
    - right_shoulder_yaw_joint

sara_right_elbow_pitch_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 3
  offset: 2.972071485
  joints:
    - right_elbow_pitch_joint

sara_right_elbow_yaw_joint:
  type: wm_kinova_hardware_interface/WMKinovaHardwareInterface
  index: 4
  offset: 0.0042379215
  joints:
    - right_elbow_yaw_joint

sara_right_wrist_pitch_joint:
  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInterface
  joints:
    - right_wrist_pitch_joint
  id: 2
  offset: 3.143126634
  direction: 1
  simulation: false
  resolution: 4096

sara_right_wrist_roll_joint:
  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInterface
  joints:
    - right_wrist_roll_joint
  id: 1
  offset: 0.5685955462
  direction: -1
  simulation: false
  resolution: 4096

#<< GRIPPER >>
sara_robotiq_hardware_interface:
  type: wm_robotiq_hardware_interface/WMRobotiqHardwareInterface
  joints:
    - right_finger_joint


#--<< HEAD >>--
sara_head_pitch_dynamixel:
  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInterface
  joints:
    - head_pitch_joint
  id: 4
  offset: 3.56196842
  direction: -1
  simulation: false
  resolution: 1023
  ratio: 0.385165663
  max_speed: 80
  mode: 1 # position mode


sara_head_yaw_dynamixel:
  type: wm_dynamixel_hardware_interface/WMDynamixelHardwareInterface
  joints:
    - head_yaw_joint
  id: 3
  offset: 3.14159
  direction: -1
  simulation: true # WARNING! SIMULATION MODE ACTIVATED!
  resolution: 1023
  max_speed: 80
  mode: 1 # position mode
