<?xml version='1.0'?>

<launch>

  <arg name="remote_debug"        value="false" />
  <arg name="debug_port"          value="39500" />
  <arg name="launch_prefix"       default="gdbserver :$(arg debug_port)"
       if="$(arg remote_debug)"/>
  <arg name="launch_prefix"       value=""
       unless="$(arg remote_debug)" />

  <!-- load the hardware configuration -->
  <rosparam command="load" file="$(find sara_control)/config/sara_hardware.yaml"/>

  <!--    start the hardwares and controller manager loop   -->
  <node launch-prefix="$(arg launch_prefix)" name="sara_control" pkg="sara_control" type="sara_control"/>

</launch>
