<?xml version='1.0'?>

<launch>

  <!-- load the hardware configuration -->
  <rosparam command="load" file="$(find sara_control)/config/sara_hardware.yaml"/>

  <!-- load the hardware configuration -->
  <rosparam command="load" file="$(find wm_admitance)/config/sara_admitance.yaml"/>

  <!--    start the hardwares and controller manager loop   -->
  <node name="sara_control" pkg="sara_control" type="sara_control" output="screen"/>

</launch>
